<meta charset="UTF-8">
<title itemprop='name'>Muhammed Furkan AYDIN</title>
<meta name="description" content="Web Designer & Developer from Earth">
<link rel="canonical" href="https://turkdeveloper.com/" itemprop="url">
<link rel="stylesheet" href="/css/main.css">
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Muhammed Furkan AYDIN",
  "url": "https://turkdeveloper.com",
  "sameAs": [
    "https://www.facebook.com/turkdeveloper",
    "https://www.instagram.com/turkishdeveloper",
    "http://www.linkedin.com/in/turkishdeveloper",
    "https://github.com/turkishdeveloper/",
    "https://twitter.com/turkdeveloper"
  ]
}
</script>