<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body class="show-menu">
    <div class="container">
        <section class="cover" style="background-image:url(/img/profile_picture.jpg);"></section>
        <section class="content-area">
            {{> menu}}
            <div class="about">
                <h1>I'm Muhammed Furkan AYDIN,</h1>
                <p>
                    I am a front-end developer in Turkey since 2013.I got experience working in many startup projects. At the moment I'm focusing
                    on my own projects like <a href="http://socialgin.com" target="_blank">Socialgin</a>.
                </p>
                <div class="technology">
                    <h1>I'am using these technologies,</h1>
                    <div class="logo-area">
                        <div class="html">
                            <svg style="min-width:100px;height:100px" viewBox="0 0 24 24">
                                <path fill="#555" d="M12,17.56L16.07,16.43L16.62,10.33H9.38L9.2,8.3H16.8L17,6.31H7L7.56,12.32H14.45L14.22,14.9L12,15.5L9.78,14.9L9.64,13.24H7.64L7.93,16.43L12,17.56M4.07,3H19.93L18.5,19.2L12,21L5.5,19.2L4.07,3Z">
                            </svg>
                            <div class="content">
                                <h3>HTML 5</h3>
                                <p>HTML 5 is a revision of the Hypertext Markup Language (HTML), the standard programming language for describing the contents and appearance of Web pages.</p>
                            </div>
                        </div>
                        <div class="css">
                            <svg style="min-width:100px;height:100px" viewBox="0 0 24 24">
                                <path fill="#555" d="M5,3L4.35,6.34H17.94L17.5,8.5H3.92L3.26,11.83H16.85L16.09,15.64L10.61,17.45L5.86,15.64L6.19,14H2.85L2.06,18L9.91,21L18.96,18L20.16,11.97L20.4,10.76L21.94,3H5Z">
                            </svg>
                            <div class="content">
                                <h3>CSS 3</h3>
                                <p>CSS3 is the latest standard for CSS. Describes how HTML elements are to be displayed on screen, paper, or in other media.</p>
                            </div>
                        </div>
                        <div class="javascript">
                            <svg style="min-width:100px;height:100px" viewBox="0 0 24 24">
                                <path fill="#555" d="M3,3H21V21H3V3M7.73,18.04C8.13,18.89 8.92,19.59 10.27,19.59C11.77,19.59 12.8,18.79 12.8,17.04V11.26H11.1V17C11.1,17.86 10.75,18.08 10.2,18.08C9.62,18.08 9.38,17.68 9.11,17.21L7.73,18.04M13.71,17.86C14.21,18.84 15.22,19.59 16.8,19.59C18.4,19.59 19.6,18.76 19.6,17.23C19.6,15.82 18.79,15.19 17.35,14.57L16.93,14.39C16.2,14.08 15.89,13.87 15.89,13.37C15.89,12.96 16.2,12.64 16.7,12.64C17.18,12.64 17.5,12.85 17.79,13.37L19.1,12.5C18.55,11.54 17.77,11.17 16.7,11.17C15.19,11.17 14.22,12.13 14.22,13.4C14.22,14.78 15.03,15.43 16.25,15.95L16.67,16.13C17.45,16.47 17.91,16.68 17.91,17.26C17.91,17.74 17.46,18.09 16.76,18.09C15.93,18.09 15.45,17.66 15.09,17.06L13.71,17.86Z">
                            </svg>
                            <div class="content">
                                <h3>Javascript</h3>
                                <p>JavaScript is a programming language used to make web pages interactive. It runs on your visitor's computer and doesn't require constant downloads from your website.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>My philoshopy</h3>
                <p>"I believe that someone who does a good job always wins. That's why i'm on the way to becoming the best."</p>
            </div>
            {{> footer}}
        </section>
    </div>
    <script src="/js/main.js"></script>
</body>

</html>