<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Muhammed Furkan AYDIN</title>
    <meta name="description" content="Web Designer & Developer from Earth">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="show-menu">
    <div class="container">
        <section class="cover" style="background-image:url(/img/profile_picture.jpg);"></section>
        <section class="content-area">
            {{> menu}}
            <div class="contact-request">
                <h1>This page is under construction. </h1>
            </div>
            {{> footer}}
        </section>
    </div>
    <script src="/js/main.js"></script>
</body>

</html> 