<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body class="show-menu">
    <div class="container">
        <section class="cover" style="background-image:url(/img/profile_picture.jpg);"></section>
        <section class="content-area">
            {{> menu}}
            <div class="dashboard">
                <div class="dashboard-area">
                    <div class="header">
                        <h1>What is in your mind ?</h1>
                        <p>You can write what you want.</p>
                    </div>
                    <div class="body">
                        <input type="text" placeholder="Title" id="title">
                        <input type="text" placeholder="Description" id="description">
                        <input type="text" placeholder="Keywords" id="keywords">
                        <textarea cols="30" rows="10" id="detail"></textarea>
                        <button class="btn" id="save">Save</button>
                    </div>
                </div>
            </div>
            {{> footer}}
        </section>
    </div>
    <script src="/js/main.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "code",
            menubar: 'file edit insert view format table tools'
        });
    </script>
</body>

</html> 