<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body class="show-menu">
    <div class="container">
        <section class="cover" style="background-image:url(/img/profile_picture.jpg);"></section>
        <section class="content-area">
            {{> menu}}
            <div class="intro">
                <div class="intro-main">
                    <h1>Muhammed Furkan AYDIN</h1>
                    <span>Web Designer & Developer from Earth</span>
                </div>
            </div>
            {{> footer}}
        </section>
    </div>
    <script src="/js/main.js"></script>
</body>

</html>