<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Muhammed Furkan AYDIN</title>
    <meta name="description" content="Web Designer & Developer from Earth">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="show-menu">
    <div class="container">
        <section class="cover" style="background-image:url(/img/profile_picture.jpg);"></section>
        <section class="content-area">
            {{> menu}}
            <div class="login">
                <div class="login-area">
                    <div class="header">
                        <h1>Login</h1>
                        <span>You can login your account on this page.</span>
                    </div>
                    <div class="body">
                        <input type="email" id="email" placeholder="Enter your email address">
                        <input type="password" id="password" placeholder="Enter your password">
                        <button class="btn" id="signin">Sign in</button>
                    </div>
                </div>
            </div>
            {{> footer}}
        </section>
    </div>
    <script src="/js/main.js"></script>
</body>

</html>